<!doctype html>
<html class="no-js" lang="">
  <head>
    <%- include('head.inc.ejs') %>
  </head>

  <body>
    <%- include('nav.inc.ejs') %>

    <div class="full-container">
      <div class="login-box center-horizontally center-vertically">
        <h1>Sorry</h1>
        <p>There was an error loading or finding this page.</p>
      </div>
    </div>

    <%- include('scripts.inc.ejs') %>
  </body>
</html>
