<!doctype html>
<html class="no-js" lang="">
  <head>
    <%- include('head.inc.ejs') %>
  </head>

  <body>
    <%- include('nav.inc.ejs') %>

    <div class="container">Hi</div>

    <%- include('scripts.inc.ejs') %>
  </body>
</html>
