<!doctype html>
<html class="no-js" lang="">
  <head>
    <%- include('head.inc.ejs') %>
  </head>

  <body>
    <%- include('nav.inc.ejs') %>

    <div class="full-container">
      <div class="login-box center-horizontally center-vertically">
        <p><a href="./auth/slack">
          <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
        </a></p>
        <p><%- __('loginNote') %></p>
      </div>
    </div>

    <%- include('scripts.inc.ejs') %>
  </body>
</html>
