<!doctype html>
<html class="no-js" lang="">
  <head>
    <%- include('head.inc.ejs') %>
  </head>

  <body class="map-page">
    <%- include('nav.inc.ejs') %>

    <div class="map-controls">
      <div class="container">
        <form class="form-inline">
          <div class="form-group">
            <p class="small map-info">
              Labels on grey markers are the average wait time.  Note that location and wait data are not always accurate.  Use this to <strong>help find trends</strong>.  Updated every minute.
              <i class="fa fa-spinner fa-pulse loader"></i>
            </p>
          </div>

          <div class="form-group">
            <label for"since-amount">Past</label>
            <select id="since-amount" class="form-control">
              <option value="0.5">30 minutes</option>
              <option value="1">1 hour</option>
              <option value="2" selected>2 hours</option>
              <option value="5">5 hours</option>
            </select>
          </div>
        </form>

      </div>
    </div>

    <div class="full-container">
      <div class="map-full-wrapper" id="full-map">
      </div>
    </div>

    <%- include('scripts.inc.ejs') %>
  </body>
</html>
