

/* Bootstrap overrides */
@media (min-width: 768px) {
  body .navbar {
    border-radius: 0;
  }
}

.navbar-brand img {
  max-height: 100%;
}

/* Layout stuff */
.full-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.center-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-navbar {
  z-index: 100;
}

/* Login page */
.login-box {
  width: 40em;
  max-width: 95%;
}

/* Loading */
.loading {
  text-align: center;
  min-height: 2.5em;
}
.loading span {
  display: none;
}
.loading.is-loading span {
  display: inline;
}

/* Main page */
.filter-form {
  background-color: #F2F2F2;
  padding: 1em;
  margin-bottom: 1em;
}
